#topic3, .topic1{
    color: rgb(88, 203, 231);
    border: 5px solid rgb(70, 31, 102);
    background-color: antiquewhite;
    box-shadow: 4px 6px gray;
}
Header{
    background: none;
    color: darkgreen;
    padding: 20px;
    margin: -20px;
    line-height: 1000%;
    padding-bottom: 10px;
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{
    background-color: gold;border: 20px solid black;
}
ol{
    border: 20px solid green; background-color: aqua;
    border-radius: 40px; padding: 20px;
}
button{
    color: rgb(122, 122, 209);
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 1.6;
    border-radius: 40px;
    line-height: 20%;
}